In [31]:
import requests
import xml.etree.ElementTree as ET
import pandas as pd

In [18]:
ns = '{http://www.volby.cz/prezident/}'

In [35]:
data = pd.DataFrame()
for i in range(1, 46):
    r = requests.get('http://80.188.53.60/pls/prezmedia/vysledky_okrsky?kolo=&davka=' + str(i))
    root = ET.fromstring(r.text)
    for okr in root.findall(ns + 'OKRSEK'):
        tmp = okr.attrib
        tmp.update(okr.find(ns + 'UCAST_OKRSEK').attrib)
        for kand in okr.findall(ns + 'HLASY_OKRSEK'):
            tmp.update({'HLASY_0' + kand.get('PORADOVE_CISLO'): int(kand.get('HLASY'))})
        data = data.append(tmp, ignore_index=True)

In [36]:
data.columns

Index(['CIS_OBEC', 'CIS_OKRSEK', 'DATUM_CAS_ZPRAC', 'HLASY_02', 'HLASY_03',
       'HLASY_05', 'HLASY_07', 'HLASY_08', 'HLASY_09', 'ODEVZDANE_OBALKY',
       'OPAKOVANE', 'PLATNE_HLASY', 'PORADI_ZPRAC', 'VYDANE_OBALKY',
       'ZAPSANI_VOLICI', 'HLASY_01', 'HLASY_04', 'HLASY_06'],
      dtype='object')

In [41]:
data.rename(columns={
    'CIS_OBEC': 'OBEC', 
    'CIS_OKRSEK': 'OKRSEK', 
    'ODEVZDANE_OBALKY': 'ODEVZ_OBAL',
    'PLATNE_HLASY': 'PL_HL_CELK', 
    'VYDANE_OBALKY': 'VYD_OBALKY',
    'ZAPSANI_VOLICI': 'VOL_SEZNAM'
}, inplace=True)

In [44]:
data.fillna(0, inplace=True)

In [46]:
for col in data.columns:
    if col.startswith('HLASY_'):
        data[col] = data[col].astype('int')

In [47]:
data

,OBEC,OKRSEK,DATUM_CAS_ZPRAC,HLASY_02,HLASY_03,HLASY_05,HLASY_07,HLASY_08,HLASY_09,ODEVZ_OBAL,OPAKOVANE,PL_HL_CELK,PORADI_ZPRAC,VYD_OBALKY,VOL_SEZNAM,HLASY_01,HLASY_04,HLASY_06
0,566080,1,2018-01-13T14:21:31,4,1,1,14,2,4,26,0,26,2,26,68,0,0,0
1,573060,5,2018-01-13T14:23:15,7,7,1,32,9,9,69,0,69,3,69,124,2,1,1
2,547701,1,2018-01-13T14:23:18,3,4,1,12,5,15,47,0,47,4,47,66,6,1,0
3,542059,1,2018-01-13T14:23:20,13,1,0,9,0,6,29,0,29,5,29,48,0,0,0
4,599034,1,2018-01-13T14:23:30,7,4,0,18,9,7,47,0,47,6,47,73,2,0,0
5,588261,1,2018-01-13T14:24:01,5,9,0,9,13,18,57,0,57,7,57,75,3,0,0
6,531391,1,2018-01-13T14:24:04,1,0,0,20,3,15,42,0,41,8,42,63,1,0,1
7,999997,52,2018-01-13T14:24:08,4,4,0,3,4,19,37,0,37,9,37,69,2,1,0
8,572241,11,2018-01-13T14:24:09,1,3,0,20,3,9,36,0,36,10,36,45,0,0,0
9,537322,1,2018-01-13T14:24:11,1,2,0,8,0,7,21,0,21,11,21,35,3,0,0
10,555771,27,2018-01-13T14:24:14,0,6,0,20,9,25,61,0,61,12,61,112,1,0,0
11,544281,7,2018-01-13T14:24:18,7,1,1,16,4,8,42,0,42,13,42,66,3,2,0
12,564788,1,2018-01-13T14:24:19,4,0,0,24,3,13,45,0,45,14,45,59,0,1,0
13,550850,11,2018-01-13T14:24:28,0,4,0,5,1,1,14,0,14,15,14,16,3,0,0
14,548456,6,2018-01-13T14:24:29,0,7,0,11,0,7,26,0,26,16,26,34,1,0,0
15,597678,6,2018-01-13T14:24:32,1,3,1,16,1,4,27,0,27,17,27,37,1,0,0
16,574627,1,2018-01-13T14:24:39,7,5,2,13,14,25,71,0,71,18,71,108,3,1,1
17,999997,19,2018-01-13T14:24:48,19,30,0,14,26,84,186,0,186,19,186,277,8,4,1
18,999997,54,2018-01-13T14:25:07,1,1,0,7,1,5,19,0,19,20,19,21,1,3,0
19,572594,1,2018-01-13T14:25:07,5,0,0,18,8,18,51,0,51,21,51,65,1,1,0
20,568104,1,2018-01-13T14:25:18,6,7,0,29,4,9,56,0,55,22,56,79,0,0,0
21,553573,1,2018-01-13T14:25:19,2,7,1,31,7,16,69,0,67,23,69,154,0,3,0
22,502081,2010,2018-01-13T14:25:29,5,0,0,22,6,6,41,0,40,24,41,225,1,0,0
23,572241,7,2018-01-13T14:25:29,5,5,0,30,8,19,69,0,69,25,69,92,0,2,0
24,561118,1,2018-01-13T14:25:34,2,7,0,18,4,2,35,0,35,26,35,64,0,1,1
25,536563,1,2018-01-13T14:25:36,3,10,5,62,12,26,124,0,124,27,124,182,2,2,2
26,555771,18,2018-01-13T14:25:40,0,1,0,34,5,6,49,0,46,28,49,75,0,0,0
27,500623,4,2018-01-13T14:25:41,0,0,0,20,2,13,39,0,38,29,39,75,1,2,0
28,554022,1,2018-01-13T14:25:41,2,8,0,46,9,15,86,0,85,30,86,118,2,3,0
29,573302,1,2018-01-13T14:25:44,3,5,0,19,6,14,47,0,47,31,47,72,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14841,500224,10054,2018-01-13T17:21:56,63,72,3,144,48,185,555,0,551,14844,555,817,32,0,4
14842,579777,4,2018-01-13T17:23:16,78,53,3,207,64,149,577,0,574,14845,577,949,14,4,2
14843,500208,8088,2018-01-13T17:23:51,125,140,4,215,99,308,973,0,964,14846,973,1330,60,10,3
14844,539899,57001,2018-01-13T17:24:14,131,123,1,174,86,332,924,0,923,14847,924,1346,59,12,5
14845,579203,5,2018-01-13T17:24:16,70,49,3,250,70,169,651,0,641,14848,651,1173,24,5,1
14846,579025,14,2018-01-13T17:27:20,77,65,1,203,79,175,652,0,637,14849,652,965,32,2,3
14847,570044,4,2018-01-13T17:28:55,6,3,0,18,3,9,47,1,46,14850,47,58,7,0,0
14848,500208,8077,2018-01-13T17:30:39,104,129,7,220,84,308,946,0,943,14851,946,1406,71,18,2
14849,538728,2,2018-01-13T17:30:49,86,97,6,140,81,311,807,0,806,14852,807,1288,72,11,2
14850,579581,1,2018-01-13T17:31:01,162,136,1,57,123,422,1003,0,992,14853,1005,1109,82,9,0
14851,579025,17,2018-01-13T17:32:32,55,56,2,179,44,125,516,0,508,14854,516,767,34,10,3
14852,579025,9,2018-01-13T17:34:35,50,31,2,187,46,109,468,0,459,14855,468,791,21,8,5
14853,555029,1,2018-01-13T17:35:00,59,44,7,397,63,181,809,0,804,14856,809,1590,33,19,1
14854,551082,1010,2018-01-13T17:35:05,69,59,4,300,60,145,686,0,682,14857,687,909,33,11,1
14855,578576,8,2018-01-13T17:35:12,69,138,10,288,80,224,854,0,847,14858,854,1144,25,12,1
14856,500186,7035,2018-01-13T17:36:03,60,86,6,74,62,250,592,0,590,14859,593,768,49,3,0
14857,579661,1,2018-01-13T17:36:44,35,23,1,119,24,70,300,0,294,14860,300,444,20,1,1
14858,579777,1,2018-01-13T17:38:21,57,38,2,218,21,128,493,0,486,14861,493,765,12,7,3
14859,500097,3008,2018-01-13T17:38:39,113,152,5,125,116,366,928,1,923,14862,928,1180,40,6,0
14860,556904,38,2018-01-13T17:38:53,64,52,3,186,82,162,598,1,593,14863,598,1058,38,6,0
14861,547034,11045,2018-01-13T17:39:55,86,98,7,155,57,240,723,0,719,14864,727,1012,59,15,2
14862,579637,1,2018-01-13T17:40:49,81,51,7,183,85,160,605,0,596,14865,608,855,13,14,2
14863,999997,36,2018-01-13T17:42:13,44,128,0,22,62,254,536,0,535,14866,537,716,18,6,1
14864,579637,2,2018-01-13T17:47:06,47,41,3,174,45,102,443,0,434,14867,444,786,17,4,1
14865,500097,3045,2018-01-13T17:47:53,114,150,4,157,139,407,1070,0,1067,14868,1070,1442,72,20,4
14866,538574,2,2018-01-13T18:01:09,137,164,7,262,125,327,1107,0,1106,14869,1108,1756,55,21,8
14867,547387,15004,2018-01-13T18:08:55,46,61,3,172,50,146,501,1,500,14870,501,665,19,2,1
14868,582824,2,2018-01-13T18:09:03,79,115,4,250,98,316,951,0,948,14871,951,1347,62,22,2
14869,579637,3,2018-01-13T18:11:14,58,69,10,194,53,158,579,0,575,14872,580,824,19,11,3
14870,500097,3017,2018-01-13T18:13:34,82,107,6,139,75,257,726,0,724,14873,726,1102,42,12,4

In [48]:
data.to_csv('../scratch/okrsky_temp.csv', encoding='utf-8', index=False)